* {
  box-sizing: border-box;
}
:root {
  --dark-purple: #3B173F;
  --light-purple:#F3EBF5;
  --pink: #BC2551;
  --dark-green: #B3DEC2;
  --mint: #DCF8EF;
  --light-pink: #EE648B;
  --yellow-green: #D1DB91;
  --light-green: #C8DFB0;

}
body {
  background-color: #435165 !important;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  overflow-y:hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
}

.logo {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

.logo img {
  width: 100%;
  max-width: 200px;
}
.dashboard-logo {
  width: 100%;
}
.dashboard-logo img {
  width: 100%;
  max-width: 200px;
}
.login {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 20px auto;
}
.login h1 {
  text-align: center;
  color: #5b6574;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}
.login form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.login form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #3274d6;
  color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}
.login form input[type="submit"] {
  width: 100%;
  padding: 15px;
 margin-top: 20px;
  background-color: #3274d6;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
  background-color: #2868c7;
  transition: background-color 0.2s;
}

/*Register*/
.register-link {
  float: right;
  padding: 20px;
  color: #fff;
}

/*Utilities*/
.alert {
  color: red;
  font-size: 13px;
  position: relative;
  padding: 0;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  display: block;
  width: 100%;
  text-align: center;
}

.success {
  color: green;
}

/*Status*/
table.status {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
}
table.status th {
  padding: 8px;
  color: #a09d9d;
}
table.status td {
  padding: 8px;
  font-size:15px;
  color: #000;
}
table.status th h3 {
  font-size:13px;
  font-weight: 900;
  letter-spacing: 1px;
}
table.status thead {
  background-color: #fff;
}


/*col-mid*/
.col-mid {
  background-color: var(--light-purple);
  color: #916095;
  padding-right: 0;
}
.col.col-md-3.col-mid {
  padding-right: 0;
}
.col-mid h3 {
  font-size: 13px;
  text-transform: Capitalize;
  font-weight: 900;
  letter-spacing: 0.5px;
}
.projects {
  list-style: none;
  padding: 0;
}
.projects ul {
  padding: 0;
}
.project-form, .bug-form {
  max-width: 300px;
  margin: 20px 0;
}
.bug-form input[name="bug_submit"] {
  background: #BC2551;
  color:#fff;
  font-weight: 700;
}
.projects li {
  color: #000;
  font-weight: 500;
  font-size: 15px;
  list-style: none;
}
.projects .selected {
  background: #fff;
  border-radius: 10px 0 0 10px;
  padding: 10px;
  font-weight: 900; 
  display: flex;
  position: relative;
}
.project-count {
  background: rgb(250, 246, 246);
  padding: 5px 12px;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 6px;
}
.projects .project-item {
  padding: 0;
  margin: 10px 15px;
  font-weight: 700;
}


/*col-right*/
.col-right {
  background-color: #fff;
  color: #000;
}
.col.col-md-6.col-right {
  overflow-y: scroll;
}

/*Full height columns*/
.col {
  height: 100vh;
}

/*Buttons*/
.submit-bug {
  background-color: var(--pink);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  position: absolute;
  right: 25px;
  top: 10px;
  outline: none !important;
  cursor: pointer;
  font-weight: 700;
  z-index: 999;
  max-width: 200px !important;
}
.closeButton {
  position: absolute;
  right: 25px;
  top: 15px;
  cursor: pointer;
}

/*Dashboard*/
tr {
  border-bottom: 1px solid #eee;
}
.dashboard h1 {
  font-size: 24px;
  font-weight: 900;
  padding: 15px 0;
}
.overview .grid-item {
  border-radius: 5px;
  width: 85px;
  height: 85px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  color: #000;
  background: #F3EBF5;
}
.overview {
  display: grid;
  grid-template-columns: repeat(5, 85px);
  gap: 10px;
}
.overview .count {
  display: block;
  text-align: center;
  padding: 10px 0 5px;
  font-size: 28px;
  font-weight: 900;
  color: var(--pink);
}
.dropzone {
  border: 2px dashed #eee;
  border-radius: 5px;
  height: 100px;
  width: 100%;
  padding: 20px;
  font-size: 15px;
  color: #777;
  cursor: pointer;
}
.dropzone-text {
  text-align: center;
}

/*Search*/
.search {
  border:1px solid #eee;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
  background: #E0D5E2;
  font-weight: 700;
  color: #777;
  font-size: 14px;
  width: 300px;
  outline: none;
}

/*col-left*/
.col-left {
  background-color: var(--dark-purple);
  color: #916095;
  padding: 15px 0 15px 30px;
}
.col-left hr{
  background: #56305A;
}
.col-left h2 {
  margin: 80px 0 15px;
  font-size: 18px;
  font-weight: 700;
  color:#fff;
}

.dashboard-logo {
  width: 100%;
  position: absolute;
  background: #300C33;
  left: 0;
  top: 0;
  padding: 15px 15px 15px 28px;
}

/*Screen Options*/
.screen-options {
  list-style: none;
  padding: 0;
}
.screen-options .selected {
  background: var(--pink);
  color:#fff;
  padding: 10px;
  border-radius: 10px 0 0 10px;
}
.screen-options .fa-bug {
  margin-right: 5px;
}

/*Settings*/
.settings {
  background: none;
  color: #916095;
  border: none;
  position: absolute;
  bottom: 10px;
  left: 35px;
  font-size: 16px;
  font-weight: 700;
}
.settings:before {
  content: "\f013";
  position: absolute;
  font-family: 'FontAwesome';
  left: -12px;
}

/*Project*/
input[name="project_submit"] {
  background: #3c3c78;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 3px 15px;
}

/*Popup*/
.popup {
  background:#fff;
  position: absolute;
  border-radius: 5px;
  border: 1px solid #000;
  top: 10%;
  width: 100%;
  padding: 35px;
  max-width: 400px;
  right: 50% - 200px;
  left:50%;
  margin-left: -200px;
}
.popup h3 {
  font-size:20px;
  font-weight: 700;
}
.full-width {
  display: block;
  width: 100%;
  margin-top: 5px;
}
.add-bug-errors {
  color: red;
  font-size: 15px;
  margin: 10px 0;
  display: block;
  text-align: center;
}
.backdrop {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
a.cp-link {
  color: #BC2551 !important;
  text-decoration: underline !important;
}
.form-group {
  margin-bottom: 8px;
}
.bug-card {
  background: #fff;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
}
.bug-card h1 {
  font-size: 24px;
}

.form-group {
  position: relative;
}

.form-control.bug-desc-save {
  background-color: rgb(33, 33, 132);
  color:#fff;
  width: 100%;
  max-width: 100px;
  padding: 2px 0;
  font-size: 14px;
}
.form-control.bug-title-save {
  background-color: rgb(33, 33, 132);
  color:#fff;
  width: 100%;
  max-width: 100px;
  padding: 2px 0;
  font-size: 14px;
}

.bug-desc-save {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.bug-title-save {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.bug-date-save {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.show-btn {
  visibility: visible;
  opacity: 1;
}

.form-group.bug-buttons {
  display: flex;
}

.form-control.bug-status-btn {
  max-width: 100px;
  font-size: 12px;
  padding: 5px;
  margin: 15px 0;
  display: inline-block;
  text-align: center;
  text-transform: Capitalize;
}

.bug-card .bug-open, .bug-card .bug-open:active, .bug-card .bug-open:focus, .bug-card .bug-urgent, .bug-card .bug-urgent:active, .bug-card .bug-urgent:focus {
  background: #fff;
  color: #000;

}
.bug-card .bug-complete, .bug-card .bug-complete:active, .bug-card .bug-complete:focus {
  background: #777;
  color: #fff;
}

.bug-card .bug-delete, .bug-card .bug-delete:active, .bug-card .bug-delete:focus {
  background: var(--pink);
  color: #fff;
  max-width: 100px;
  font-size: 12px;
  padding: 5px;
  margin: 15px 0;
  display: inline-block;
  text-align: center;
  text-transform: Capitalize;
  margin-left: auto;
}

.bug-card .bug-delete:hover {
  background: var(--light-pink);
}

/*Fix padding issue*/
.col.col-md-3.col-left {
  padding: 0 0 0 20px;
}
.col-mid .projects ul {
  padding-right: 0;
}
.col-mid .projects ul li {
  padding: 5px;
  margin-right: 0;
}

/*Bug single styling*/
.project-name-title {
  padding: 10px 0 0 10px;
}
.col.col-md-3.col-mid.bug-single-mid {
  padding: 0;
  margin: 0;
}
.bug-single-mid h2 {
  color: #BC2551;
  font-weight: 700;
}
.bug-edit-form h3 {
  color: rgb(173, 168, 168);
  font-size: 13px;
}
.edit-project-selector {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-left: 15px;
  cursor:pointer;
  position: relative;
  z-index: 2;
  width: 185px;
  padding: 1px 5px;
  border: 1px dashed #ccc;
  border-radius: 5px;
}
.select-wrapper {
  position: relative;
  display:inline-block;
}
.select-wrapper:after {
  position: absolute;
  content: "";
  background: url("./img/edit-icon.png") no-repeat;
  width: 16px;
  height: 16px;
  right: -20px;
  bottom: 10px;
  z-index: 1;
}
.edit-project-selector:focus {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
  border:1px solid #eee;
  background: #fff;
  font-size: 15px;
  font-weight: 400;
}

/*IE11 hide native button*/
.edit-project-selector::-ms-expand {
  display: none;
}
.edit-project-selector::-ms-expand:focus {
  display: block;
}
.form-control {
  border: 1px solid #eee;
}

.dropzone-errors {
  margin-top: 40px;
  font-size: 13px;
}

/*Screenshots*/
.bug-screenshot {
    max-width: 100%;
    display: block;
    margin: 20px auto;
    background: #eee;
    padding: 20px;
}

.screenshot-container {
  position: relative;
}
.image-close-btn {
  background: url("./img/close-x.png") no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
}

